# App
NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:3002

# Database
DATABASE_URL=postgresql://nfa_user:nfa_password@localhost:5432/nfa_db?schema=public

# JWT
JWT_SECRET=super_secret_key_change_me_32_bytes_minimum
JWT_EXPIRES_IN=8h

# Admin default credentials
CONSOLE_ADMIN_EMAIL=admin@nfa.co.za
CONSOLE_ADMIN_PASSWORD_HASH=replace_with_bcrypt_hash
